body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: white;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }
.container {
    font-family: 'Ubuntu';
    font-weight: 400;
}
.main-h {
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-inline: 79px;
    padding-block: 17px;
}
.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}
.word-spacing {
    margin-inline: 4px;
}
.word-spacing_f {
    margin-left: 4px;
}
.main_a:hover {
    color: #3CB878;
    transition: 0.4s;
}
.row {
    display:flex;
}
.bar {
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.90);
    height: 19px;
    display: flex;
    align-items: center;
}
.bar-pad {
    padding-right: 25px;
}
.register {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.bar-pad-calendar {
    background-image: url("../images/calendar.svg");
    width: 21px;
    height: 24px;
    margin-right: 25px;
    margin-bottom: 2px;
}
.bar-pad-envelope {
    background-image: url("../images/envelope.svg");
    width: 23px;
    height: 23px;
    margin-right: 25px;
    margin-bottom: 2px;
}
.bar-pad-compass {
    background-image: url("../images/compass.svg");
    width: 23px;
    height: 24px;
    margin-right: 25px;
    margin-bottom: 2px;
}
.bar-pad-calendar:hover {
    background-image: url("../images/calendar-h.svg");
    transition: 0.4s;
}
.bar-pad-envelope:hover {
    background-image: url("../images/envelope-h.svg");
    background-size: cover;
    transition: 0.4s;
}
.bar-pad-compass:hover {
    background-image: url("../images/compass-h.svg");
    transition: 0.4s;
}
.main-form {
    background-color:  white;
    display:flex;
    flex-direction: column;
    width: 444px;
    height: 584px;
    margin-top: 54px;
    margin-inline: auto;
    padding-top: 31px;
}
.main-form a {
    color: #3CB878;
}
.box {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
}
.position {
    padding-inline: 60px;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.form-sign {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.form-log {
    font-size: 14px;
    line-height: 14px;
}
.form-log:hover {
    color: #01813F;
    transition: 0.4s;
    text-decoration: underline;
}
.center {
    display: flex;
    margin-top: 25px;
}
.center a {
    color: white;
}
.facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.facebook p {
    padding-left: 18px;
    font-size: 16px;
    line-height: 16px;
}
.facebook img{
    padding-left: 11px;
    border-right: 1px solid;
    padding-right: 7px;
    border-color: rgba(0, 0, 0, 0.1);
}
.facebook:hover {
    background-color: #022263;
    transition: 0.4s;
}
.google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.google img{
    padding-left: 12px;
    border-right: 1px solid;
    padding-right: 7px;
    border-color: rgba(0, 0, 0, 0.1);
}
.google p {
    padding-left: 30px;
    font-size: 16px;
    line-height: 16px;
}
.google:hover {
    background-color: #AB1F09;
    transition: 0.4s;
}
.hr_or {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    color:#848484;
    font-size: 14px;
    line-height: 14px;
}
.hr_or::before {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 148px;
    margin-left: -100px;
    margin-right: 6px;
    margin-bottom: 5px;
}
.hr_or::after {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    margin-left:  6px;
    margin-bottom: 5px;
    margin-right:  -100px;
}
.form {
    display: flex;
    flex-direction: column;
    padding-inline: 60px;
}
.box-size {
    width: 300px;
    height: 41px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-top: 15px;
    padding-left: 20px;
    font-family: 'Ubuntu';
}
.box-size::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}
.checkbox {
   position: relative;
   width: 20px;
   height: 20px;
}
.custom-checkbox {
    left: -25px;
    position: relative;
    margin-right: -17px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #ffffff;
}
.custom-checkbox:focus {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.custom-checkbox::before{
    content: url(../images/checkbox.png);
    width: 14px;
    height: 13.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    opacity: 0;
}
.checkbox:checked + .custom-checkbox::before {
    opacity: 1;
}
input:focus {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.checkbox-center {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
}
.checkbox-a {
    margin-left: 4px;
}
.checkbox-a:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.4s;

}
.sumbit {
    font-family: 'Ubuntu';
    width: 324px;
    height: 46px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
}
.sumbit:hover {
    background: #01813F;
    transition: 0.4s;
}
.sumbit a {
    color: white;
    padding-inline: 109.5px;
    padding-block: 16px;
}